{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-xs-3 col-xs-offset-4">

            {% for notice in app.session.flashBag.get('notice') %}
                <div class="alert alert-success" role="alert">{{ notice | capitalize }}</div>
            {% endfor %}

            <form class="form-signin" action="{{ url('app.security.login') }}" method="POST">
                <h2 class="form-signin-heading">{{ 'form.user.login.title' | trans({},'form') | capitalize }}</h2>

                <div class="form-group">
                    <label for="username">{{ 'form.user.username' | trans({},'form') | capitalize }}</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="{{ 'form.user.username' | trans({},'form') }}"/>
                </div>

                <div class="form-group">
                    <label for="password">{{ 'form.user.password' | trans({},'form') | capitalize }}</label>
                    <input type="password" id="password" name="_password" class="form-control" placeholder="{{ 'form.user.password' | trans({},'form') }}"/>
                </div>

                <button class="btn btn-primary btn-block" type="submit">{{ 'form.user.login.button' | trans({}, 'form') }}</button>

                {% if error %}
                    <hr>
                    <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
            </form>


        </div>
    </div>


{% endblock %}