{% extends 'profile/homepage/index.html.twig' %}

{% block profile_title %}
    {{ 'form.user.update.password.title' | trans({}, 'form') | capitalize }}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xs-4 col-xs-offset-3">
            {{ form_start(form, { 'attr' : { 'novalidate' : 'novalidate' } })  }}

            <p>
                {{ form_label(form.password.first, 'form.user.password' | trans({}, 'form') | capitalize  )  }}
                {{ form_widget(form.password.first, { 'attr' : { 'placeholder' : 'form.user.password' | trans({},'form') | capitalize }})  }}
                {{ form_errors(form.password.first) }}
            </p>
            <p>
                {{ form_label(form.password.second, 'form.user.password_confirm' | trans({}, 'form') | capitalize  )  }}
                {{ form_widget(form.password.second, { 'attr' : { 'placeholder' : 'form.user.password_confirm' | trans({},'form') | capitalize }})  }}
                {{ form_errors(form.password.second) }}
            </p>
            <p>
                <button type="submit" class="btn btn-primary btn-block">{{ 'form.user.update.button' | trans({},'form') | capitalize }}</button>
            </p>

            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}