<table class="table table-striped table-hover table-responsive table-condensed">
    <thead>
    <tr>
        <th>#</th>
        <th class="text-center">Email</th>
        <th class="text-center">Token</th>
        <th class="text-center">Expiration Date</th>
        <th class="text-center">Try</th>
    </tr>
    </thead>
    <tbody>
    {% for usertoken in usersTokens %}

        <tr class="{% if usertoken.expirationDate < dateNow %} danger {% else %} success {% endif %}">
            <th>{{ usertoken.id }}</th>
            <td>{{ usertoken.email }}</td>
            <td class="text-center">{{ usertoken.token }}</td>
            <td class="text-center">{{ usertoken.expirationDate|localizeddate('medium', 'medium', currentLocal) }}</td>
            <td class="text-center">
                <a href="{{ url('app.security.password.reset', { 'email' : usertoken.email , 'token' : usertoken.token }) }}"
                   title="{{ url('app.security.password.reset', { 'email' : usertoken.email , 'token' : usertoken.token }) }}"
                   class="btn btn-primary btn-sm">
                   <i class="fa fa-link" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>