<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>Email</th>
        <th>Token</th>
        <th>Expiration Date</th>
        <th>Try</th>
    </tr>
    </thead>
    <tbody>
    {% for usertoken in usersTokens %}

        {% if usertoken.expirationDate < dateNow %}
            {% set class = 'danger' %}
        {% else %}
            {% set class = 'success' %}
        {% endif %}
        <tr class="{{ class }}">
            <th>{{ usertoken.id }}</th>
            <td>{{ usertoken.email }}</td>
            <td>{{ usertoken.token }}</td>
            <td>{{ usertoken.expirationDate|localizeddate('medium', 'medium', currentLocal) }}</td>
            <td>
                <a href="{{ url('app.security.password.reset', { 'email' : usertoken.email , 'token' : usertoken.token }) }}"
                   title="{{ url('app.security.password.reset', { 'email' : usertoken.email , 'token' : usertoken.token }) }}"
                   class="btn btn-primary btn-sm">
                   <i class="fa fa-link" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>