{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-xs-5 col-xs-offset-3">

            <h2>{{ 'form.password.reset.title' | trans({}, 'form') | capitalize }}</h2>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-3 col-xs-offset-4">

            {{ form_start(form, { 'attr' : { 'novalidate' : 'novalidate' } })  }}

            <p>
                {{ form_label(form.password, 'form.user.password' | trans({}, 'form') | capitalize ) }}
                {{ form_widget(form.password, { 'attr' : { 'placeholder' : 'form.user.password' | trans({}, 'form') | capitalize  } }) }}
                {{ form_errors(form.password) }}
            </p>
            <p>
                {{ form_label(form.password_confirm, 'form.user.password_confirm' | trans({}, 'form') | capitalize ) }}
                {{ form_widget(form.password_confirm, { 'attr' : { 'placeholder' : 'form.user.password_confirm' | trans({},'form') | capitalize }}) }}
                {{ form_errors(form.password_confirm) }}
            </p>
            <p>
                <button type="submit" class="btn btn-primary btn-block">{{ 'form.password.reset.button' | trans({},'form') | capitalize }}</button>
            </p>

            {{ form_end(form) }}

        </div>
    </div>


{% endblock %}