<!DOCTYPE html>
<html lang="{{ currentLocal }}">
    <head>
        <meta charset="UTF-8" />
        <title>Amazon Killer{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-select.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/amazon-like.css') }}">
        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        {{ render_navbar() | raw }}

        <div class="container main-container">
            <div class="row">
                <div class="col-xs-12">

                    {% include 'inc/flashmessage.html.twig' %}

                    {% block body %}{% endblock %}

                </div>
            </div>
        </div>

        <script src="{{ asset('js/jquery-3.2.0.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap-select.min.js') }}"></script>
        <script src="{{ asset('js/amazon-like.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>